{:paths
 ["src/clj" "resources"]
 
 :deps
 {http-kit/http-kit {:mvn/version "2.5.3"}
  com.stuartsierra/component {:mvn/version "1.0.0"}
  compojure/compojure {:mvn/version "1.6.2"}
  org.clojure/clojurescript {:mvn/version "1.10.773"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {clj-commons/pomegranate {:mvn/version "1.2.0"}
                reloaded.repl/reloaded.repl {:mvn/version "0.2.4"}}}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.03.03"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}}}
